<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hillssoft.android.app.mtom"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />


    
    <!-- Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    
    <!-- GCM Permission -->
    <uses-permission android:name="com.hillssoft.android.app.mtom.permission.C2D_MESSAGE" /> 
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permission android:name="com.hillssoft.android.app.mtom.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	
    
    
    
    
    
    
    
    
    <application
        android:name=".application.AppGlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_action_user"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:debuggable="true" >
        
        
        
        
        
        <!-- GCM Service & Receiver -->
        <service android:name=".gcm.GCMIntentService" />
        
        <receiver
			android:name=".gcm.GCMReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.hillssoft.android.app.mtom" />
			</intent-filter>
		</receiver>
        
        
        
        
        <!-- Clash Report Activity -->
        <!-- 
        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" >
            
        </activity>
        //-->
        
        
        
        <!-- Index Splash Activity -->
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/mtom_mtom_tab_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        
        <!-- Post Activity -->
        <activity
            android:name=".activity.post.PostRegisterActivity"
            android:label="@string/mtom_mtom_tab_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".activity.post.PostViewActivity"
            android:label="@string/mtom_mtom_tab_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        
        <!-- Notice Activity -->
        <activity
            android:name=".activity.etc.NoticeActivity"
            android:label="@string/mtom_mtom_tab_activity_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        
        
        
        <!-- MtoM - Chat Activity -->
		<activity
            android:name=".activity.member.MemberRegisterActivity"
            android:label="@string/mtom_member_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
            	<action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/plain" />
            </intent-filter>   
        </activity>
        <activity
            android:name=".activity.chat.ChatRoomListActivity"
            android:label="@string/mtom_chat_title" >
        </activity>
        <activity
            android:name=".activity.friend.FriendListActivity"
            android:label="@string/mtom_friend_title" >
        </activity>
        <activity
            android:name=".activity.more.MoreListActivity"
            android:label="@string/mtom_more_title" >
        </activity>
        <activity
            android:name=".activity.myroom.MyRoomActivity"
            android:label="@string/mtom_myroom_title" >
        </activity>
        <activity
            android:name=".activity.myroom.NewsFeedActivity"
            android:label="@string/mtom_myroom_title" >
        </activity>
        <activity
            android:name=".activity.search.SearchActivity"
            android:label="@string/mtom_search_title" >
        </activity>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- Sample -->
        <activity
            android:name=".app.sample.SampleTabActivity"
            android:label="@string/sample_sample_tab_activity_title" >
        </activity>
        <activity
            android:name=".app.mtom.MtomMainTab"
            android:label="@string/mtom_mtom_tab_activity_title" >
        </activity>
        
        
        <activity
            android:name=".app.sample.activity.MainActivity"
            android:label="@string/sample_activity_main_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.activity.SubActivity"
            android:label="@string/sample_activity_sub_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.view.ViewObjectActivity"
            android:label="@string/sample_view_view_object_activity" >
        </activity>
        
        <activity
            android:name=".app.sample.view.ListViewActivity"
            android:label="@string/sample_view_list_view_activity_title" >
		</activity>
        
        <activity
            android:name=".app.sample.view.ListViewDetailActivity"
            android:label="@string/sample_view_list_view_detail_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.view.PullToRefreshActivity"
            android:label="@string/sample_db_db_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.graphic.GraphActivity"
            android:label="@string/sample_graphic_graph_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.broadcast.BroadcastActivity"
            android:label="@string/sample_broadcast_broadcast_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.service.ServiceActivity"
            android:label="@string/sample_service_activity_title" >
        </activity>
        
        <activity
            android:name=".app.sample.db.DBActivity"
            android:label="@string/sample_db_db_activity_title" >
        </activity>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </application>

</manifest>