<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hillssoft.mtom"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hillssoft.mtom.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hillssoft.mtom.sample.ActivityOpenActivity"
            android:label="@string/activity_title_activity_open_activity" >
        </activity>
        <activity
            android:name="com.hillssoft.mtom.sample.ViewObjectTestActivity"
            android:label="@string/activity_title_view_object_test" >
        </activity>
        
        
        <activity
            android:name="com.hillssoft.mtom.sample.ListViewActivity"
            android:label="@string/activity_title_list_view" >
        </activity>
        
        
        
        
        
        
        
        <activity
            android:name="com.hillssoft.mtom.sample.ListViewDetailActivity"
            android:label="@string/title_activity_list_view_detail" >
        </activity>
        
    </application>

</manifest>